# IDE
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# build
build

# NPM
.DS_Store
node_modules
src/webapp/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Local videos file
services/api/videos
.data

# Terraform
**/.terraform/*
*.terraform.lock*
*.tfstate
*.tfstate.*
